<h1>Copy to Clipboard</h1>
<p>Using an easy to use clipboard.js javascript library to copy anything, to a user's clipboard.</p>

<!-- Target -->
<%= text_field_tag :weburl, "https://bhushanjadhav.info/" %>

<!-- Trigger -->
<%= button_tag "Copy", :type => "button", :id => "clipboard-btn", :data => {:clipboard_action => "copy", :clipboard_target => "#weburl"} %>
